.sider
    .inner-menu
        ul
            li
                a(href=`${prefixAdmin}/dashboard`) Tổng quan
            li
                a(href=`${prefixAdmin}/products`) Sản phẩm
            li
                a(href=`${prefixAdmin}/categories`) Danh mục sản phẩm
            li
                a(href=`${prefixAdmin}/roles`) Vai trò người dùng
            li
                a(href=`${prefixAdmin}/accounts`) Danh sách Tài khoản
            li
                a(href=`${prefixAdmin}/products/trash`) 
                    i.fa.fa-trash
                    |  Thùng rác
